html {
	height: 100%;
	/* max-height: 600px; */
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:
		url('http://onebigphoto.com/uploads/2015/05/cruise-ship-near-big-iceberg-antarctica.jpg');
	background-repeat: repeat-x;
	background-position:
		0 20%,
		0 95%,
		0 0,
		0 100%,
		0 0;
	background-size:
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position:
			-5000px 20%,
			-800px 95%,
			500px 0,
			1000px 100%,
			400px 0;
		}
	}

p {
    font-family: "Lucida Console", Times, monospace;
}
h1 {

    display: inline-block
}

body {
    text-align: center;
}
html {
  width: 100%;
  height: 100%
}

 .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {background-color: #4CAF50;}
.button2 {background-color: #27aee8;}
.button3 {background-color: #f44336;}
.button4 {background-color: #717984;}
.button5 {background-color: #FFD700;}
